<section class="w-full my-8 px-4 sm:px-4 md:px-6 lg:px-8" id="contact">
    <h2 class="text-4xl vollkorn-font font-normal text-black mb-6">Contact</h2>
    <div class="vollkorn-font text-black text-base leading-relaxed tracking-wide">
        <p class="font-semibold text-lg">Md Anis Sarker</p>
        <p>ML Engineer, Researcher</p>
        <p>
            <a href="https://www.acmeai.tech" target="_blank" rel="noopener noreferrer">Acme AI</a>,
            <a href="https://www.trackbox.be" target="_blank" rel="noopener noreferrer">Trackbox</a>,
            <a href="https://www.ccds.ai" target="_blank" rel="noopener noreferrer">CCDS</a>
        </p>
        <p>Email: anissarker603 [at] gmail [dot] com</p>
        <a href="https://ansarker.github.io/material-public/Md_Anis_Sarker_CV.pdf"
            class="text-blue-600 hover:text-blue-700 font-medium" target="_blank">Curriculum Vitae [PDF]</a>
    </div>
</section>