<ul>
  <li>
    <a class="text-neutral-700 flex flex-row items-center gap-1" href="https://github.com/ansarker"
      target="_blank">
      <ng-icon name="featherGithub" />
      <span class="text-lime-900 hover:text-lime-700">Github</span>
    </a>
  </li>
  <li>
    <a class="text-neutral-700 flex flex-row items-center gap-1" href="https://www.linkedin.com/in/iansarker/" target="_blank">
      <ng-icon name="featherLinkedin" class="shrink-0" size="18" />
      <span class="text-lime-900 hover:text-lime-700">LinkedIn</span>
    </a>
  </li>
  <li>
    <a class="text-neutral-700 flex flex-row items-center gap-1" href="https://scholar.google.com/citations?user=UePcz9EAAAAJ&hl=en" target="_blank">
      <ng-icon name="heroAcademicCapSolid" class="shrink-0" size="18" />
      <span class="text-lime-900 hover:text-lime-700">Google Scholar</span>
    </a>
  </li>
</ul>