<section class="w-full my-8 px-4 sm:px-4 md:px-6 lg:px-8" id="publication">
  <div class="space-y-8 text-center">
      <a class="text-blue-600 hover:text-blue-500" href="https://github.com/ansarker" target="_blank">Github</a> /
      <a class="text-blue-600 hover:text-blue-500" href="https://www.linkedin.com/in/iansarker/" target="_blank">LinkedIn</a> /
      <a class="text-blue-600 hover:text-blue-500" href="https://scholar.google.com/citations?user=UePcz9EAAAAJ&hl=en" target="_blank">Google Scholar</a> /
      <a class="text-blue-600 hover:text-blue-500" href="https://ansarker.github.io/material-public/Md_Anis_Sarker_CV.pdf" target="_blank">CV</a>
    </div>
</section>
