/* You can add global styles to this file, and also import other style files */
/* Playfair Display :: font */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* Inter :: font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


.vollkorn-font {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}